# Hologram Throughput

- author : Sylvie Dagoret-Campagne
- affiliation : IJCLab/IN2P3/CNES, DESC-LSST fullmember, behalf AuxTel Teal VERA C. Rubin observatory
- 
- creation date : June 5nd  2022
- last update : June 5nd 2022


### 

- **kernel anaconda3_auxtel** at CC or **python 3** locally

In [1]:
import sys
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
from mpl_toolkits.axes_grid1 import make_axes_locatable
from matplotlib.colors import LogNorm
import numpy as np
import pandas as pd

import matplotlib.ticker                         # here's where the formatter is
import os
import re


plt.rcParams["figure.figsize"] = (12,8)
plt.rcParams["axes.labelsize"] = 'xx-large'
plt.rcParams['axes.titlesize'] = 'xx-large'
plt.rcParams['xtick.labelsize']= 'xx-large'
plt.rcParams['ytick.labelsize']= 'xx-large'

from astropy import units as u

In [2]:
import matplotlib.colors as colors
import matplotlib.cm as cmx
import matplotlib.gridspec as gridspec
from matplotlib.patches import Rectangle

from mpl_toolkits.axes_grid1.inset_locator import inset_axes

In [3]:
filename = "20200211-holo-4-003-uniformity-datacube.npy"

In [4]:
thearray= np.load(filename)

In [5]:
df = pd.DataFrame(thearray)

In [6]:
df

      order   dx   dy       wl        DE    DE_std
0         0  0.0  0.0  400.014  0.284048  0.000702
1         0  0.0  0.0  419.989  0.090576  0.000223
2         0  0.0  0.0  440.023  0.028995  0.000058
3         0  0.0  0.0  459.966  0.055558  0.000111
4         0  0.0  0.0  479.965  0.087470  0.000175
...     ...  ...  ...      ...       ...       ...
3438      2 -4.0 -4.0  479.965  0.088270  0.000117
3439      2 -4.0 -4.0  500.021  0.077836  0.000103
3440      2 -4.0 -4.0  519.984  0.069577  0.000092
3441      2 -4.0 -4.0  540.001  0.059706  0.000079
3442      2 -4.0 -4.0  559.997  0.031729  0.000045

[3443 rows x 6 columns]

In [7]:
sel_order0 = df["order"] == 0
sel_order1 = df["order"] == 1
sel_order2 = df["order"] == 2

In [8]:
df_order0 = df[sel_order0]
df_order1 = df[sel_order1]
df_order2 = df[sel_order2]

In [9]:
df_order2

      order   dx   dy       wl        DE    DE_std
3040      2  0.0  0.0  400.014  0.075719  0.000378
3041      2  0.0  0.0  419.989  0.090386  0.000152
3042      2  0.0  0.0  440.023  0.110968  0.000130
3043      2  0.0  0.0  459.966  0.099133  0.000116
3044      2  0.0  0.0  479.965  0.085045  0.000100
...     ...  ...  ...      ...       ...       ...
3438      2 -4.0 -4.0  479.965  0.088270  0.000117
3439      2 -4.0 -4.0  500.021  0.077836  0.000103
3440      2 -4.0 -4.0  519.984  0.069577  0.000092
3441      2 -4.0 -4.0  540.001  0.059706  0.000079
3442      2 -4.0 -4.0  559.997  0.031729  0.000045

[403 rows x 6 columns]

In [56]:
df_order2.dx.unique()

array([ 0.,  1.,  2.,  4., -1., -2., -4.])

In [57]:
df_order2.dy.unique()

array([ 0.,  1.,  2.,  4., -1., -2., -4.])

In [61]:
all_df_order1 = []
all_df_order2 = []
all_x0y0_order2 = []
all_x0y0_order1 = []

for xpos in df_order2.dx.unique():
    for ypos in df_order2.dy.unique():
        sel_cut = (df_order2["dx"] == xpos ) & (df_order2["dy"] == ypos)
        if len(sel_cut) >0:
            dfcut = df_order2[sel_cut]
            x0 =  dfcut.dx.unique()
            y0 =  dfcut.dy.unique()
            if len(x0) == 1 and len(y0) == 1:
                all_x0y0_order2.append((x0[0],y0[0]))
                all_df_order2.append(dfcut)
        
for xpos in df_order1.dx.unique():
    for ypos in df_order1.dy.unique():
        sel_cut = (df_order1["dx"] == xpos) & (df_order1["dy"] == ypos)
        if len(sel_cut) >0:
            dfcut = df_order1[sel_cut]
            x0 =  dfcut.dx.unique()
            y0 =  dfcut.dy.unique()
            if len(x0) == 1 and len(y0) == 1:
                all_x0y0_order1.append((x0[0],y0[0]))
                all_df_order1.append(dfcut)

In [62]:
all_x0y0_order2

[(0.0, 0.0),
 (0.0, 1.0),
 (0.0, 2.0),
 (0.0, 4.0),
 (0.0, -1.0),
 (0.0, -2.0),
 (0.0, -4.0),
 (1.0, 0.0),
 (1.0, 1.0),
 (1.0, 2.0),
 (1.0, 4.0),
 (1.0, -1.0),
 (1.0, -2.0),
 (1.0, -4.0),
 (2.0, 0.0),
 (2.0, 1.0),
 (2.0, 2.0),
 (2.0, 4.0),
 (2.0, -1.0),
 (2.0, -2.0),
 (2.0, -4.0),
 (4.0, 0.0),
 (4.0, 1.0),
 (4.0, 2.0),
 (4.0, 4.0),
 (4.0, -1.0),
 (4.0, -2.0),
 (-1.0, 0.0),
 (-1.0, 1.0),
 (-1.0, 2.0),
 (-1.0, 4.0),
 (-1.0, -1.0),
 (-1.0, -2.0),
 (-1.0, -4.0),
 (-2.0, 0.0),
 (-2.0, 1.0),
 (-2.0, 2.0),
 (-2.0, 4.0),
 (-2.0, -1.0),
 (-2.0, -2.0),
 (-2.0, -4.0),
 (-4.0, 0.0),
 (-4.0, 1.0),
 (-4.0, 2.0),
 (-4.0, 4.0),
 (-4.0, -1.0),
 (-4.0, -2.0),
 (-4.0, -4.0)]