# Convert csv into excel

In [1]:
import pandas as pd

In [8]:
filename_in = "holosummary_20230131.csv"
filename_out= "holosummary_20230131.xlsx"

In [5]:
df=pd.read_csv(filename)

In [7]:
df.head()

,Unnamed: 0,id,obs_id,day_obs,seq_num,time_start,time_end,type,target,filter,zenith_angle,expos,ra,dec,skyangle,science_program,jd,mjd
0,33340,2023013100219,AT_O_20230131_000219,20230131,219,2023-02-01 00:57:27.188987,2023-02-01 00:57:57.418,science,HD185975,empty~holo4_003,61.206717,30.0,305.756766,-87.535126,217.941160,spec,2.459977e+06,59976.039898
1,33310,2023013100220,AT_O_20230131_000220,20230131,220,2023-02-01 00:58:10.015993,2023-02-01 00:58:40.247,science,HD185975,empty~holo4_003,61.213193,30.0,305.756496,-87.535117,217.941313,spec,2.459977e+06,59976.040394
2,33314,2023013100228,AT_O_20230131_000228,20230131,228,2023-02-01 01:03:22.186981,2023-02-01 01:03:52.425,science,HD14943,empty~holo4_003,36.034382,30.0,35.760158,-51.174951,160.089833,spec,2.459977e+06,59976.044007
3,33345,2023013100229,AT_O_20230131_000229,20230131,229,2023-02-01 01:04:05.005980,2023-02-01 01:04:35.234,science,HD14943,empty~holo4_003,36.140845,30.0,35.760076,-51.174947,160.089958,spec,2.459977e+06,59976.044502
4,33349,2023013100237,AT_O_20230131_000237,20230131,237,2023-02-01 01:08:46.860014,2023-02-01 01:09:17.098,science,HD14943,empty~holo4_003,36.841276,30.0,35.756593,-51.175835,161.663133,spec,2.459977e+06,59976.047765

In [9]:
df.to_excel(filename_out)